[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = First repo
[access "refs/*"]
	owner = group user/aakashtapdia
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/aakashtapdia
	label-Verified = -1..+1 group user/aakashtapdia
	push = group user/aakashtapdia
	read = group user/aakashtapdia
	rebase = group user/aakashtapdia
	removeReviewer = group user/aakashtapdia
	submit = group user/aakashtapdia
[access "refs/heads/*"]
	create = group user/aakashtapdia
	push = +force group user/aakashtapdia
	pushMerge = group user/aakashtapdia
	read = group user/aakashtapdia
[access "refs/tags/*"]
	push = group user/aakashtapdia
	push = +force group user/aakashtapdia
